<div class="about_page">
  
  <div class="about_mast">
  
    <div class="container">
         <div class="headline">
      <h1 id="responsive_headline"><%=image_tag 'rpm.png'%>Inside RC Kinetics</h1>
      </div>
    
     </div>
  
  
     </div>
  
 
              
  <div class="container">
                 
              <div class="row">
      <div class="col-md-12 about-us">
  
    <h2>About RCK</h2>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          'Mauris ac tellus ac justo feugiat hendrerit a a leo. Donec et quam eleifend, molestie nunc ut, adipiscing ligula.
          Phasellus sed scelerisque est. Donec volutpat arcu metus, tempus lacinia libero volutpat non. Curabitur pulvinar pellentesque cursus.
          Aliquam vel tortor ante. Quisque quis ipsum rhoncus, aliquam lacus sed, vehicula arcu. Suspendisse et lacus fermentum, tristique elit interdum, vehicula odio.
          Proin fringilla elit semper, auctor magna sed, pulvinar libero. Donec interdum orci orci, sit amet tincidunt risus fermentum vitae. Vivamus nec velit felis.   </p>
        
        
         <h2>Our Goals</h2>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          'Mauris ac tellus ac justo feugiat hendrerit a a leo. Donec et quam eleifend, molestie nunc ut, adipiscing ligula.
          Phasellus sed scelerisque est. Donec volutpat arcu metus, tempus lacinia libero volutpat non. Curabitur pulvinar pellentesque cursus.
          Aliquam vel tortor ante. Quisque quis ipsum rhoncus, aliquam lacus sed, vehicula arcu. Suspendisse et lacus fermentum, tristique elit interdum, vehicula odio.
          Proin fringilla elit semper, auctor magna sed, pulvinar libero. Donec interdum orci orci, sit amet tincidunt risus fermentum vitae. Vivamus nec velit felis.   </p>
        
        
        
          <h2>What we offer</h2>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          'Mauris ac tellus ac justo feugiat hendrerit a a leo. Donec et quam eleifend, molestie nunc ut, adipiscing ligula.
          Phasellus sed scelerisque est. Donec volutpat arcu metus, tempus lacinia libero volutpat non. Curabitur pulvinar pellentesque cursus.
          Aliquam vel tortor ante. Quisque quis ipsum rhoncus, aliquam lacus sed, vehicula arcu. Suspendisse et lacus fermentum, tristique elit interdum, vehicula odio.
          Proin fringilla elit semper, auctor magna sed, pulvinar libero. Donec interdum orci orci, sit amet tincidunt risus fermentum vitae. Vivamus nec velit felis.   </p>
        
    </div>
    
   
                
    </div>
  
  
  </div>
  
  
  
  
  
  
  
  
  
</div>
