   <div class="hobby-shop">  
    <div class="party">
       <div class="container">
       
         <div class="mini-hero text-center">
         
         <h1 id="responsive_headline">  <%=image_tag 'gears.png'%>Pro Shop</h1>
                    
           </div>
       
          </div>


         </div>
     

     <div class="container">
    <div class="services-page">
      
    
    
   
             
        
        <div class="row">
            
            
            
                   <div class="col-md-4">
          
           <div class="panel panel-default">
  <div class="panel-body">
    <h3 class="titlesServices"><%=image_tag 'tire_icons.png'%><span>Sales</span></h3> 
      
      
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ante enim, accumsan sagittis lobortis mattis, ornare sit amet orci. Nulla elit orci, dignissim vitae ornare eget, iaculis</p>
      
      
      
        
      
      
         </div>
       </div>
                       
      </div>
            
           
        
        
        
        
         <div class="col-md-4">
          
           <div class="panel panel-default">
  <div class="panel-body">
    <h3 class="titlesServices"><%=image_tag 'shock_icon.png'%><span>Parts</span></h3>
     
      
     
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ante enim, accumsan sagittis lobortis mattis, ornare sit amet orci. Nulla elit orci, dignissim vitae ornare eget, iaculis</p>
      
      
      
         
      
      
      
         </div>
       </div>
                       
      </div>
            
            
        
        
        
         <div class="col-md-4">
          
           <div class="panel panel-default">
  <div class="panel-body">
    <h3 class="titlesServices"><%=image_tag 'repairs_icons.png'%><span>Repairs</span></h3>
     
      
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ante enim, accumsan sagittis lobortis mattis, ornare sit amet orci. Nulla elit orci, dignissim vitae ornare eget, iaculis</p>
      
      
       
      
      
         </div>
       </div>
                       
      </div>
            
             </div>
        
        </div>
            
            </div>
        
        
        
        
        
        
        
       <div class="services-page">
          <div class="hero4">
    
    
    
    
    </div>
       
    </div>
    
    
    
    
     <div class="services-page">
          <div class="details">
    
    
    
    
    </div>
       
    </div>
     
     
     </div>