     <div class="mini">
       <div class="container">
       
         <div class="mini-hero text-center">
               <div class="headline">
           <h1 id="responsive_headline">Speed.Jumps.Fun</h1>
                                       </div>
                    
           </div>
       
          </div>


         </div>
     <div class="container">
    <div class="services-page">
      
    
    
   
             
        
        <div class="row">
            
            
            
                   <div class="col-md-4">
          
           <div class="panel panel-default">
  <div class="panel-body">
    <h3 class="titlesServices">Road Racing</h3> 
      
      
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ante enim, accumsan sagittis lobortis mattis, ornare sit amet orci. Nulla elit orci, dignissim vitae ornare eget, iaculis</p>
      
      
      
        
      
      
         </div>
       </div>
                       
      </div>
            
           
        
        
        
        
         <div class="col-md-4">
          
           <div class="panel panel-default">
  <div class="panel-body">
    <h3 class="titlesServices">Dirt Racing</h3>
     
      
     
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ante enim, accumsan sagittis lobortis mattis, ornare sit amet orci. Nulla elit orci, dignissim vitae ornare eget, iaculis</p>
      
      
      
         
      
      
      
         </div>
       </div>
                       
      </div>
            
            
        
        
        
         <div class="col-md-4">
          
           <div class="panel panel-default">
  <div class="panel-body">
    <h3 class="titlesServices">Outdoor Racing</h3>
     
      
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ante enim, accumsan sagittis lobortis mattis, ornare sit amet orci. Nulla elit orci, dignissim vitae ornare eget, iaculis</p>
      
      
       
      
      
         </div>
       </div>
                       
      </div>
            
             </div>
        
        </div>
            
            </div>
        
        
        
        
        
        
        
       <div class="services-page">
          <div class="hero4">
    
    
    
    
    </div>
       
    </div>
    
    
    
    
     <div class="services-page">
          <div class="details">
    
    
    
    
    </div>
       
    </div>