 <div class="party">
       <div class="container">
       
         <div class="mini-hero text-center">
         
           <h1 id="responsive_headline">RCK Schedule</h1>
                    
           </div>
       
          </div>


         </div>
     <div class="container">
    <div class="party-page">
      
    
    
   
             
        
        <div class="row">
          <h2>Racing and Events Schedule</h2>
            <div class="table-responsive">
          <table class="table table-striped">
          
            <thead>
              <tr>
              
                <th>Day</th>
                <th>Time</th>
                <th>Event</th>
              
              </tr>
            
            
            </thead>
            
            <tbody>
            
             <tr>
              
                <td>Monday</td>
               <td>Closed</td>
               <td>No-Racing/Practice</td>
              </tr>
                <tr>
              
                <td>Tuesday</td>
                   <td>Closed</td>
               <td>No-Racing/Practice</td>
              </tr>
                <tr>
              
                <td>Wednesday</td>
                   <td>11am to 11pm</td>
               <td>Practice</td>
              </tr>
                <tr>
              
                <td>Thursday</td>
                     <td>11am to 11pm</td>
               <td>Practice</td>
              </tr>
                <tr>
              
                <td>Friday</td>
                     <td>11am to 11pm</td>
               <td>Practice</td>
              </tr>
                <tr>
              
                <td>Saturday</td>
                     <td>11am to 11pm</td>
               <td>Practice</td>
              </tr>
                <tr>
              
                <td>Sunday</td>
                     <td>11am to 5pm</td>
               <td>Practice</td>
              </tr>
                
              </tr>
          
            </tbody>
          
          
          </table>
          </div>
            
                  
            
             </div>
        
        </div>
            
            </div>
        
        
        
        
        
        
        
       <div class="services-page">
          <div class="hero4">
    
    
    
    
    </div>
       
    </div>
    
    
    
    
     <div class="services-page">
          <div class="details">
    
    
    
    
    </div>
       
    </div>
