

body{
    font-family:'Raleway', helvetica, arial;
    font-size:16px;
    color:#666666;
    background-color:#282b2d;
    padding-top:50px;
   
    
}


h1,h2,h3,h4,h5,h6{
	color: #333333;
	text-transform: uppercase;
	font-family: 'Raleway',Helvectica,Arial;
	font-weight: 700;
}

p{
line-height:30px;
    font-weight:400;

}

.table{
margin-bottom:60px;

}

a{

color:#ecf0f1;
    text-decoration:none;
}

.pull-right{

float:right !important;


}



a:hover, a:focus{
	color: #308ac6;
}

/*End base styles*/










/*Navigation*/

.navbar-brand {
float: left;
padding: 7px 15px;
font-size: 18px;
line-height: 20px;
}

.titles{
	color: #f1c40f;
    padding:20px;


}



.titles .lines{
	background-color:#f1c40f;
    height:5px;
    width:82px;
    


}


.titlesServices{
color: #f1c40f;
margin-top:10px;
    margin-bottom:60px;



}



.navbar{

border-radius:0;
    border:none;
    margin:0;
}


nav .navbar-nav{

  float:right;

}

.navbar-default .navbar-toggle {
border-color: transparent;
}







.navbar-default {
background-color: #01020b;

}

.navbar-default .navbar-nav > li > a {
color: #666666;
    font-size:14px;
    text-transform:uppercase;
    font-weight:600;
}



.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
color: #555555;
background-color: #262626;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
color: #ffffff;
text-decoration: none;
background-color:#F1C40F;
}


.dropdown-menu > li > a {
display: block;
padding: 3px 20px;
clear: both;
font-weight: 400;
line-height: 1.428571429;
color: #ecf0f1;
white-space: nowrap;
     text-transform:uppercase;
}


.dropdown-menu {
position: absolute;




background-color: #01020B;
border: 1px solid #cccccc;
border: 1px solid rgba(0, 0, 0, 0.15);
border-radius: 2px;
-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
background-clip: padding-box;
}

.about_page .about_mast{

background:#fff;
  min-width:200px;

}

.about_page .about_mast img{

margin-bottom:15px;
  padding-right:10px;

}



.about_page .about_mast h1{
 font-size:72px;
  padding:50px;
}


.about_page  p{
  
  color:#ecf0f1;
  margin-bottom:40px;
 
 
}


.about_page  h2{
  margin-top:20px;
  margin-bottom:20px;
  color:#f1c40f;
 
 
}

.about_page .about-us{

margin-top:50px;
}


.party{
background-color:#fff;
  min-height:200px;

}

.party h1{
  font-size:72px;
padding:60px;

}

.party-page h2{
color: #f1c40f;
margin-top:40px;
    margin-bottom:20px;
}

.mini .mini-hero{
  min-height:400px;
}
.mini{
background: #fff url(racing_f.jpg) 50% 50% no-repeat;
  	background-size:cover;
  width:100%;
  max-height:500px;

}

.mini .mini-hero h1{
  margin-top:400px;
  font-size:72px;
  font-weight:700;
    

}


.hobby-shop .mini{
background: #fff url(hobby.jpg) 50% 50% no-repeat;
  	background-size:cover;
  width:100%;
  max-height:500px;

}

.hobby-shop span{

padding-left:10px;
}


.jumbotron{
	
  background: #fff url(<%= asset_path 'super_hero.jpg' %>) 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size:cover;
	max-height: 600px;
	padding: 60px 0;
	margin: 0;
}


.jumbotron h1{
	font-size:30px;
}

.jumbotron p{
	font-size:16px;
}



.jumbotron .heroHold{
    
max-height: 600px;
max-width:700px;
    min-width:370px;
padding: 90px;
margin-bottom: 20px;
    margin-top:20px;
background-color:transparent;
border: 1px solid transparent;
border-radius: 2px;
 


	
}



.jumbotron .heroHold .heroTag   {
    
max-height: 200px;
max-width:500px;
padding: 6px;
margin-bottom: 20px;
background-color:#fff;
border: 1px solid transparent;
border-radius: 2px;
    color:#282b2d;
 


	
}



.jumbotron .heroHold .heroP  {
    
max-height: 200px;
max-width:500px;
padding: 6px;
margin-bottom: 20px;
background-color:#fff;
border: 1px solid transparent;
border-radius: 2px;
    color:#666666;
 


	
}



.jumbotron .btn-primary {
color: #262626;
background-color: #f1c40f;
border-color: transparent;
 width:200px;
    float:right;
    margin-right:80px;
}





.jumbotron .btn {
display: inline-block;
padding: 8px 12px;
margin-bottom: 0;
font-size: 16px;
font-weight: 600;
line-height: 1.428571429;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
background-image: none; 
border: 1px solid transparent;
border-radius: 2px;
   

}




.heroSub{

background:#f1c40f;
    height:50px;
}










.trim{

height:5px;
    background-color:#f1c40f;


}




/*Services*/


.services{
margin-top:130px;
margin-bottom:130px;

}
.services h4, h5{
color:#f1c40f;


}


.services p{
color:#ecf0f1;
   
    margin-bottom:40px;
    margin-top:15px;


}



.services img{


   
    padding-left:15px;

}


.services .panel {
margin-bottom: 20px;
background-color: #262626;
border: 1px solid transparent;
border-radius: 2px;

}

/*start hobbyshop*/

.hero3{
        
    background:#fff url(kit_hero.png) 50% 50% no-repeat;
    background-size:cover;
    height:500px;
    
    
}


.hero4{
        
    background-color:#f1c40f;
    height:50px;
    margin-bottom:130px;
    
    
}


/* hobbyshop end*/






/* staff*/


.staff{

margin-bottom:130px;

}

.staff h3{
color:#f1c40f;
}


.staff p{
color:#ecf0f1;
    margin-top:20px;
    margin-bottom:30px;
    
}


.staff .learn > img{


   
    padding-left:15px;
  
    margin:0;
    width:auto;
    height:auto;
    max-width:32px;
    display:inline-block;

}


.staff .thumbnail {
display: block;
padding: 0;
margin-bottom: 20px;
line-height: 1.428571429;
background-color: #262626;
border: 1px solid transparent;
border-radius: 2px;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}



.staff .thumbnail > img {
display: block;
height: auto;
max-width: 100%;
margin-right: auto;
margin-left: auto;
}






















/* staff*/




.hero_last{
    height:250px;
  
  	background: #2c3e50 url(hero4.png) 50% 50% no-repeat;
    max-height:250px;
    background-size:cover;
    
}


.hero_last h2{

     color:#ecf0f1;
  
    padding:10px;
   
  

}


.hero_last h2 span a{

   text-decoration:underline;
  
  
  

}


.action_hero{

    background-color: rgba(241,196,15,0.6);
    top:110px;
    position:relative;
    width:auto;
    height: auto;
   

}



/*service pages*/

.services-page .hero4{

 background:#f1c40f url(startline.jpg) 50% 50% no-repeat;
 background-size:cover;
    height:300px;
    margin-bottom:130px;

}
    
    
    
    
    


.services-page .panel{

margin-bottom: 60px;
  margin-top:60px;
background-color:transparent;
    
    border-radius:0;
    border:1px transparent solid;
    

}



.services-page .titlesServices{
color: #f1c40f;
margin-top:10px;
    margin-bottom:10px;



}


.services-page  p{
color: #ecf0f1;


}



.footer .titlesServices{

margin-bottom:5px;

}

.footer address,.footer .panel ul li >a {


font-family: helvectica, arial;
    font-size:13px;

}





.footer{
    
    background-color:#262626;
    height:auto;
}

.footer .panel{

margin-bottom: 20px;
background-color: #262626;
border: 1px solid transparent;
border-radius: 2px;

}


.footer .panel ul li >a{

     color:#ecf0f1;
    
   

}


.footer .panel address{

     color:#ecf0f1;
    
   

}

label {
display: inline-block;
margin-bottom: 5px;
font-weight: bold;
    color:#fff;
}
.news_forms{

    width:auto;
    height:50px;



}



.form-control {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555555;
vertical-align: middle;
background-color: #ecf0f1 ;
background-image: none;
border: 1px solid #f1c40f;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

footer{
    
     background-color:#01020b;
    height:50px;
    bottom:0;
    margin:0;
    padding-top:10px;
    
    
}



footer h6{
    

font-family: helvectica,Arial;


}



/*models*/

.modal-content {
position: relative;
background-color: #282b2d;
border: 1px solid #999999;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 6px;
outline: none;
-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
background-clip: padding-box;
}


.modal-title{
  color: #f1c40f;

}


.modal-body{
color:#ecf0f1;

}











/*Media querys*/









@media(max-width:480px){
    
    
    
    
    
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
color: #f1c40f;
background-color: transparent;
}
    
      .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: transparent;
}

            .jumbotron {
        
        
        max-height: 400px;
        padding: 60px 0;
        margin: 0;
        }
        
        
        
        .jumbotron .heroHold {
        max-height: 600px;
        max-width: 320px;
        min-width: 300px;
        padding: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
        background-color:  transparent;
        border: 1px solid transparent;
        border-radius: 2px;
        }
        
        
        
        .jumbotron h1{
            font-size:20px;
        }
        
        .jumbotron p{
            font-size:14px;
        }




      .jumbotron .heroHold .heroTag   {
    
max-height: 200px;
max-width:300px;



 


	
}



.jumbotron .heroHold .heroP  {
    
max-height: 200px;
max-width:300px;
background-color:#fff;
    color:#666666;





   
 


	
}



.jumbotron .btn-primary {
color: #262626;
background-color: #f1c40f;
border-color: transparent;
 width:200px;
    float:right;
    margin-right:50px;
}



.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{

  border-bottom: 2px solid #fff;

   }





.about_page .about_mast img{

margin-bottom:15px;
  padding-right:10px;
  width:48px;
  height:42px;

}



.about_page .about_mast h1{
 font-size:24px;
  padding:50px;
}





}





@media(max-width:768px){
    
    
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: transparent;
}

	.navbar-default .navbar-collapse{
		background-color: transparent;
	}

}